In [1]:
import pandas as pd

datafile = "data_science_student_marks.csv" # change data file when needed
fileType = datafile.split('.')[-1].lower()

if fileType == "csv":
    inputTable = pd.read_csv(datafile)
elif fileType in ["xlsx", "xls"]:
    inputTable = pd.read_excel(datafile,sheet_name=1)

targetDataFrame = inputTable.head(10)

In [2]:
#Randomly Remove Values and create outliers

import numpy as np

numericColumns = inputTable.select_dtypes(include='number').columns.tolist()

#Randomly remove 20% of the data
for column in inputTable:
    randomCells = np.random.rand(len(inputTable)) < 0.2
    inputTable.loc[randomCells, column] = np.nan

#Randomly create outliers of 10% of the data
for column in inputTable.select_dtypes(include='number'):
    randomCells = np.random.rand(len(inputTable)) < 0.1
    inputTable.loc[randomCells, column] = inputTable.loc[randomCells, column] * 100

inputTable.head(50)

,student_id,location,age,sql_marks,excel_marks,python_marks,power_bi_marks,english_marks
0,4.0,Sydney,24.0,95.0,99.0,NaN,NaN,7500.0
1,5.0,Tokyo,24.0,99.0,NaN,89.0,NaN,NaN
2,NaN,Berlin,22.0,72.0,70.0,99.0,79.0,77.0
3,7.0,NaN,NaN,97.0,90.0,74.0,72.0,85.0
4,8.0,NaN,22.0,91.0,71.0,79.0,8000.0,75.0
5,NaN,Toronto,20.0,93.0,88.0,NaN,93.0,72.0
6,10.0,NaN,18.0,77.0,NaN,100.0,98.0,NaN
7,11.0,Toronto,2100.0,78.0,90.0,88.0,7900.0,72.0
8,NaN,Melbourne,24.0,80.0,95.0,87.0,90.0,94.0
9,13.0,London,19.0,97.0,80.0,96.0,NaN,86.0
10,14.0,Toronto,20.0,81.0,74.0,88.0,99.0,96.0
11,15.0,Paris,24.0,94.0,9300.0,NaN,80.0,71.0
12,NaN,Tokyo,NaN,7300.0,82.0,NaN,70.0,84.0
13,17.0,Tokyo,25.0,82.0,75.0,NaN,78.0,85.0
14,18.0,Melbourne,19.0,NaN,76.0,9600.0,93.0,71.0
15,19.0,Paris,22.0,NaN,92.0,NaN,82.0,83.0
16,20.0,Berlin,2500.0,92.0,NaN,81.0,79.0,9800.0
17,21.0,Toronto,2400.0,85.0,9600.0,NaN,71.0,96.0
18,22.0,Los Angeles,NaN,83.0,73.0,100.0,75.0,85.0
19,23.0,New York,18.0,80.0,NaN,94.0,89.0,100.0
20,24.0,Berlin,20.0,7400.0,NaN,96.0,95.0,NaN
21,25.0,Paris,20.0,92.0,98.0,94.0,74.0,77.0
22,NaN,Sydney,18.0,90.0,91.0,89.0,NaN,93.0
23,27.0,Toronto,NaN,NaN,NaN,93.0,82.0,99.0
24,28.0,Los Angeles,25.0,84.0,85.0,82.0,96.0,75.0
25,29.0,Berlin,20.0,NaN,82.0,98.0,76.0,71.0
26,30.0,NaN,NaN,80.0,98.0,NaN,81.0,83.0
27,31.0,London,23.0,78.0,80.0,71.0,82.0,92.0
28,32.0,NaN,NaN,NaN,74.0,NaN,92.0,79.0
29,33.0,Tokyo,19.0,74.0,98.0,84.0,90.0,NaN
30,NaN,NaN,21.0,NaN,99.0,NaN,93.0,NaN
31,35.0,NaN,2300.0,NaN,NaN,NaN,86.0,NaN
32,3600.0,Berlin,21.0,76.0,86.0,NaN,8700.0,82.0
33,37.0,Tokyo,NaN,98.0,94.0,77.0,83.0,92.0
34,38.0,Berlin,21.0,100.0,95.0,NaN,NaN,77.0
35,39.0,Melbourne,NaN,8800.0,NaN,99.0,92.0,NaN
36,40.0,NaN,2200.0,70.0,78.0,79.0,100.0,NaN
37,41.0,NaN,2400.0,86.0,7400.0,92.0,NaN,NaN
38,NaN,Paris,19.0,70.0,98.0,75.0,83.0,71.0
39,NaN,Sydney,21.0,96.0,89.0,72.0,71.0,9600.0
40,44.0,New York,2200.0,91.0,NaN,8100.0,72.0,78.0
41,45.0,Los Angeles,2100.0,94.0,79.0,83.0,NaN,93.0
42,46.0,NaN,NaN,90.0,96.0,84.0,91.0,71.0
43,47.0,Berlin,2100.0,79.0,70.0,91.0,81.0,73.0
44,48.0,Los Angeles,NaN,NaN,83.0,77.0,93.0,92.0
45,49.0,Paris,21.0,87.0,74.0,70.0,98.0,89.0
46,50.0,NaN,22.0,99.0,NaN,81.0,79.0,7600.0
47,51.0,London,NaN,96.0,96.0,NaN,NaN,100.0
48,52.0,Sydney,NaN,100.0,NaN,75.0,70.0,83.0
49,53.0,Paris,20.0,82.0,78.0,71.0,NaN,99.0

In [3]:
#Transformation Table

inputTable.columns = [column.lower() for column in inputTable.columns]

numericColumns = []
yesAndNoColumns = []

#Find numeric columns by checking top ten values for numeric data
for column in inputTable:
    topTenValues = inputTable[column].dropna().head(10)
    numericCount = pd.to_numeric(topTenValues, errors='coerce').notna().sum()

    if numericCount > 0:
        numericColumns.append(column)

    yesNoCount = topTenValues.isin(["yes", "no", "Yes","No"]).sum()
    if yesNoCount > 0:
        yesAndNoColumns.append(column)
        
#Get rid of exceptional values
for column in numericColumns:
    inputTable[column] = pd.to_numeric(inputTable[column], errors="coerce")

    #Find the lower quantile of the column values
    lowerQuantile = inputTable[column].quantile(0.25)
    
    #Find the upper quantile of the values in each column
    upperQuantile = inputTable[column].quantile(0.75)
    
    #Find the inter quantile range of the values in each column
    interQuantileRange = upperQuantile - lowerQuantile

    lowerBound = lowerQuantile - 1.5 * interQuantileRange
    upperBound = upperQuantile + 1.5 * interQuantileRange

    #Seperate outliers using the bounds
    outliers = (inputTable[column] < lowerBound) | (inputTable[column] > upperBound)
    
    #Divide outliers by 100
    inputTable.loc[outliers, column] =  inputTable.loc[outliers, column] / 100

for column in yesAndNoColumns:
    inputTable[column] = inputTable[column].map({"yes": 1, "no": 0,"Yes": 1, "No": 0})

inputTable.head(50)

,student_id,location,age,sql_marks,excel_marks,python_marks,power_bi_marks,english_marks
0,4.0,Sydney,24.0,95.0,99.0,NaN,NaN,75.0
1,5.0,Tokyo,24.0,99.0,NaN,89.0,NaN,NaN
2,NaN,Berlin,22.0,72.0,70.0,99.0,79.0,77.0
3,7.0,NaN,NaN,97.0,90.0,74.0,72.0,85.0
4,8.0,NaN,22.0,91.0,71.0,79.0,80.0,75.0
5,NaN,Toronto,20.0,93.0,88.0,NaN,93.0,72.0
6,10.0,NaN,18.0,77.0,NaN,100.0,98.0,NaN
7,11.0,Toronto,21.0,78.0,90.0,88.0,79.0,72.0
8,NaN,Melbourne,24.0,80.0,95.0,87.0,90.0,94.0
9,13.0,London,19.0,97.0,80.0,96.0,NaN,86.0
10,14.0,Toronto,20.0,81.0,74.0,88.0,99.0,96.0
11,15.0,Paris,24.0,94.0,93.0,NaN,80.0,71.0
12,NaN,Tokyo,NaN,73.0,82.0,NaN,70.0,84.0
13,17.0,Tokyo,25.0,82.0,75.0,NaN,78.0,85.0
14,18.0,Melbourne,19.0,NaN,76.0,96.0,93.0,71.0
15,19.0,Paris,22.0,NaN,92.0,NaN,82.0,83.0
16,20.0,Berlin,25.0,92.0,NaN,81.0,79.0,98.0
17,21.0,Toronto,24.0,85.0,96.0,NaN,71.0,96.0
18,22.0,Los Angeles,NaN,83.0,73.0,100.0,75.0,85.0
19,23.0,New York,18.0,80.0,NaN,94.0,89.0,100.0
20,24.0,Berlin,20.0,74.0,NaN,96.0,95.0,NaN
21,25.0,Paris,20.0,92.0,98.0,94.0,74.0,77.0
22,NaN,Sydney,18.0,90.0,91.0,89.0,NaN,93.0
23,27.0,Toronto,NaN,NaN,NaN,93.0,82.0,99.0
24,28.0,Los Angeles,25.0,84.0,85.0,82.0,96.0,75.0
25,29.0,Berlin,20.0,NaN,82.0,98.0,76.0,71.0
26,30.0,NaN,NaN,80.0,98.0,NaN,81.0,83.0
27,31.0,London,23.0,78.0,80.0,71.0,82.0,92.0
28,32.0,NaN,NaN,NaN,74.0,NaN,92.0,79.0
29,33.0,Tokyo,19.0,74.0,98.0,84.0,90.0,NaN
30,NaN,NaN,21.0,NaN,99.0,NaN,93.0,NaN
31,35.0,NaN,23.0,NaN,NaN,NaN,86.0,NaN
32,36.0,Berlin,21.0,76.0,86.0,NaN,87.0,82.0
33,37.0,Tokyo,NaN,98.0,94.0,77.0,83.0,92.0
34,38.0,Berlin,21.0,100.0,95.0,NaN,NaN,77.0
35,39.0,Melbourne,NaN,88.0,NaN,99.0,92.0,NaN
36,40.0,NaN,22.0,70.0,78.0,79.0,100.0,NaN
37,41.0,NaN,24.0,86.0,74.0,92.0,NaN,NaN
38,NaN,Paris,19.0,70.0,98.0,75.0,83.0,71.0
39,NaN,Sydney,21.0,96.0,89.0,72.0,71.0,96.0
40,44.0,New York,22.0,91.0,NaN,81.0,72.0,78.0
41,45.0,Los Angeles,21.0,94.0,79.0,83.0,NaN,93.0
42,46.0,NaN,NaN,90.0,96.0,84.0,91.0,71.0
43,47.0,Berlin,21.0,79.0,70.0,91.0,81.0,73.0
44,48.0,Los Angeles,NaN,NaN,83.0,77.0,93.0,92.0
45,49.0,Paris,21.0,87.0,74.0,70.0,98.0,89.0
46,50.0,NaN,22.0,99.0,NaN,81.0,79.0,76.0
47,51.0,London,NaN,96.0,96.0,NaN,NaN,100.0
48,52.0,Sydney,NaN,100.0,NaN,75.0,70.0,83.0
49,53.0,Paris,20.0,82.0,78.0,71.0,NaN,99.0

In [4]:
#Convert numeric columns with no decimals into integers

for column in numericColumns: 
    pureData = inputTable[column].dropna()
    hasDecimals = (pureData.astype(int) != pureData).any()
    if hasDecimals == False:
        inputTable[column] = inputTable[column].astype("Int64")

inputTable.head(50)
#TODO sort out NaN and make yesNoColumns integers

,student_id,location,age,sql_marks,excel_marks,python_marks,power_bi_marks,english_marks
0,4,Sydney,24,95,99,<NA>,<NA>,75
1,5,Tokyo,24,99,<NA>,89,<NA>,<NA>
2,<NA>,Berlin,22,72,70,99,79,77
3,7,NaN,<NA>,97,90,74,72,85
4,8,NaN,22,91,71,79,80,75
5,<NA>,Toronto,20,93,88,<NA>,93,72
6,10,NaN,18,77,<NA>,100,98,<NA>
7,11,Toronto,21,78,90,88,79,72
8,<NA>,Melbourne,24,80,95,87,90,94
9,13,London,19,97,80,96,<NA>,86
10,14,Toronto,20,81,74,88,99,96
11,15,Paris,24,94,93,<NA>,80,71
12,<NA>,Tokyo,<NA>,73,82,<NA>,70,84
13,17,Tokyo,25,82,75,<NA>,78,85
14,18,Melbourne,19,<NA>,76,96,93,71
15,19,Paris,22,<NA>,92,<NA>,82,83
16,20,Berlin,25,92,<NA>,81,79,98
17,21,Toronto,24,85,96,<NA>,71,96
18,22,Los Angeles,<NA>,83,73,100,75,85
19,23,New York,18,80,<NA>,94,89,100
20,24,Berlin,20,74,<NA>,96,95,<NA>
21,25,Paris,20,92,98,94,74,77
22,<NA>,Sydney,18,90,91,89,<NA>,93
23,27,Toronto,<NA>,<NA>,<NA>,93,82,99
24,28,Los Angeles,25,84,85,82,96,75
25,29,Berlin,20,<NA>,82,98,76,71
26,30,NaN,<NA>,80,98,<NA>,81,83
27,31,London,23,78,80,71,82,92
28,32,NaN,<NA>,<NA>,74,<NA>,92,79
29,33,Tokyo,19,74,98,84,90,<NA>
30,<NA>,NaN,21,<NA>,99,<NA>,93,<NA>
31,35,NaN,23,<NA>,<NA>,<NA>,86,<NA>
32,36,Berlin,21,76,86,<NA>,87,82
33,37,Tokyo,<NA>,98,94,77,83,92
34,38,Berlin,21,100,95,<NA>,<NA>,77
35,39,Melbourne,<NA>,88,<NA>,99,92,<NA>
36,40,NaN,22,70,78,79,100,<NA>
37,41,NaN,24,86,74,92,<NA>,<NA>
38,<NA>,Paris,19,70,98,75,83,71
39,<NA>,Sydney,21,96,89,72,71,96
40,44,New York,22,91,<NA>,81,72,78
41,45,Los Angeles,21,94,79,83,<NA>,93
42,46,NaN,<NA>,90,96,84,91,71
43,47,Berlin,21,79,70,91,81,73
44,48,Los Angeles,<NA>,<NA>,83,77,93,92
45,49,Paris,21,87,74,70,98,89
46,50,NaN,22,99,<NA>,81,79,76
47,51,London,<NA>,96,96,<NA>,<NA>,100
48,52,Sydney,<NA>,100,<NA>,75,70,83
49,53,Paris,20,82,78,71,<NA>,99

In [5]:
#Fill in empty values

#TODO: add logic to sort id columns from getting messed up

for column in inputTable:
    #For id columns, use forward and backward fill to replace NA
    if "id" in column.lower():
        inputTable[column] = inputTable[column].ffill().bfill()
    #For numeric columns, find the median and fill NA values
    elif column in numericColumns:
        median = inputTable[column].median()
        inputTable[column] = inputTable[column].fillna(median)
    #For categorical columns, find the mode value and fill NA values
    else:
        mode = inputTable[column].mode(dropna=True)
        if not mode.empty:
            inputTable[column] = inputTable[column].fillna(mode[0])

inputTable.head(50)

,student_id,location,age,sql_marks,excel_marks,python_marks,power_bi_marks,english_marks
0,4,Sydney,24,95,99,86,85,75
1,5,Tokyo,24,99,86,89,85,85
2,5,Berlin,22,72,70,99,79,77
3,7,Los Angeles,21,97,90,74,72,85
4,8,Los Angeles,22,91,71,79,80,75
5,8,Toronto,20,93,88,86,93,72
6,10,Los Angeles,18,77,86,100,98,85
7,11,Toronto,21,78,90,88,79,72
8,11,Melbourne,24,80,95,87,90,94
9,13,London,19,97,80,96,85,86
10,14,Toronto,20,81,74,88,99,96
11,15,Paris,24,94,93,86,80,71
12,15,Tokyo,21,73,82,86,70,84
13,17,Tokyo,25,82,75,86,78,85
14,18,Melbourne,19,85,76,96,93,71
15,19,Paris,22,85,92,86,82,83
16,20,Berlin,25,92,86,81,79,98
17,21,Toronto,24,85,96,86,71,96
18,22,Los Angeles,21,83,73,100,75,85
19,23,New York,18,80,86,94,89,100
20,24,Berlin,20,74,86,96,95,85
21,25,Paris,20,92,98,94,74,77
22,25,Sydney,18,90,91,89,85,93
23,27,Toronto,21,85,86,93,82,99
24,28,Los Angeles,25,84,85,82,96,75
25,29,Berlin,20,85,82,98,76,71
26,30,Los Angeles,21,80,98,86,81,83
27,31,London,23,78,80,71,82,92
28,32,Los Angeles,21,85,74,86,92,79
29,33,Tokyo,19,74,98,84,90,85
30,33,Los Angeles,21,85,99,86,93,85
31,35,Los Angeles,23,85,86,86,86,85
32,36,Berlin,21,76,86,86,87,82
33,37,Tokyo,21,98,94,77,83,92
34,38,Berlin,21,100,95,86,85,77
35,39,Melbourne,21,88,86,99,92,85
36,40,Los Angeles,22,70,78,79,100,85
37,41,Los Angeles,24,86,74,92,85,85
38,41,Paris,19,70,98,75,83,71
39,41,Sydney,21,96,89,72,71,96
40,44,New York,22,91,86,81,72,78
41,45,Los Angeles,21,94,79,83,85,93
42,46,Los Angeles,21,90,96,84,91,71
43,47,Berlin,21,79,70,91,81,73
44,48,Los Angeles,21,85,83,77,93,92
45,49,Paris,21,87,74,70,98,89
46,50,Los Angeles,22,99,86,81,79,76
47,51,London,21,96,96,86,85,100
48,52,Sydney,21,100,86,75,70,83
49,53,Paris,20,82,78,71,85,99