In [20]:
import pandas as pd

datafile1 = "financial_compliance_source.csv"
datafile2 = "financial_compliance_target.csv"
targetTable = pd.read_csv(datafile2)
inputTable = pd.read_csv(datafile1)

In [21]:
#Uppercase and Fillna

inputTable.columns = [column.lower() for column in inputTable.columns]
inputTable = inputTable.fillna('NA')
inputTable

,year,firm_name,total_audit_engagements,high_risk_cases,compliance_violations,fraud_cases_detected,industry_affected,total_revenue_impact,ai_used_for_auditing,employee_workload,audit_effectiveness_score,client_satisfaction_score
0,2020.0,NA,2829.0,5100.0,NA,39.0,Healthcare,114.24,NA,57.0,5.8,8.4
1,NA,Deloitte,NA,185.0,30.0,6000.0,NA,156.98,Yes,NA,5.3,670.0
2,NA,NA,243800.0,NA,NA,NA,NA,131.83,NA,76.0,NA,NA
3,202100.0,NA,264600.0,397.0,55.0,97.0,NA,22911.0,No,6000.0,5.1,860.0
4,NA,PwC,2680.0,216.0,99.0,NA,Healthcare,48.0,No,NA,9.1,NA
...,...,...,...,...,...,...,...,...,...,...,...,...
111,2021.0,KPMG,2503.0,NA,NA,62.0,NA,228.15,NA,69.0,7.4,NA
112,2025.0,PwC,1771.0,NA,NA,NA,Tech,48564.0,NA,68.0,NA,NA
113,NA,Deloitte,797.0,133.0,46.0,27.0,Finance,NA,No,77.0,6.3,8.6
114,2022.0,KPMG,NA,NA,NA,69.0,Healthcare,89.79,Yes,NA,7.6,5.6
115,NA,PwC,4473.0,NA,19900.0,58.0,NA,NA,NA,NA,6.4,NA

In [27]:
#AI Mapping and Overall Score

inputTable["overall_score"] = None
for x in range(len(inputTable)):
    word = str(inputTable.loc[x, "ai_used_for_auditing"])
    audit = inputTable.loc[x, "audit_effectiveness_score"]
    client = inputTable.loc[x, "client_satisfaction_score"]
    
    if word.lower() == "yes":
        inputTable.loc[x, "ai_used_for_auditing"] = 1
    elif str(word).lower() == "no":
        inputTable.loc[x, "ai_used_for_auditing"] = 0

    #If either score is empty, assign NA and go to next row
    if str(audit) == "NA" or str(client) == "NA":
        inputTable.loc[x,"overall_score"] = "NA"
        continue

    auditScore = float(audit)
    clientScore = float(client)
    overallScore = (auditScore + clientScore) / 2

    inputTable.loc[x,"overall_score"] = overallScore

inputTable

,year,firm_name,total_audit_engagements,high_risk_cases,compliance_violations,fraud_cases_detected,industry_affected,total_revenue_impact,ai_used_for_auditing,employee_workload,audit_effectiveness_score,client_satisfaction_score,overall_score
0,2020.0,NA,2829.0,5100.0,NA,39.0,Healthcare,114.24,NA,57.0,5.8,8.4,7.1
1,NA,Deloitte,NA,185.0,30.0,6000.0,NA,156.98,1,NA,5.3,670.0,337.65
2,NA,NA,243800.0,NA,NA,NA,NA,131.83,NA,76.0,NA,NA,NA
3,202100.0,NA,264600.0,397.0,55.0,97.0,NA,22911.0,0,6000.0,5.1,860.0,432.55
4,NA,PwC,2680.0,216.0,99.0,NA,Healthcare,48.0,0,NA,9.1,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,2021.0,KPMG,2503.0,NA,NA,62.0,NA,228.15,NA,69.0,7.4,NA,NA
112,2025.0,PwC,1771.0,NA,NA,NA,Tech,48564.0,NA,68.0,NA,NA,NA
113,NA,Deloitte,797.0,133.0,46.0,27.0,Finance,NA,0,77.0,6.3,8.6,7.45
114,2022.0,KPMG,NA,NA,NA,69.0,Healthcare,89.79,1,NA,7.6,5.6,6.6
115,NA,PwC,4473.0,NA,19900.0,58.0,NA,NA,NA,NA,6.4,NA,NA