In [1]:
import pandas as pd

datafile = "data_science_student_marks.csv"
fileType = datafile.split('.')[-1].lower()

if fileType == "csv":
    inputTable = pd.read_csv(datafile)
elif fileType in ["xlsx", "xls"]:
    inputTable = pd.read_excel(datafile,sheet_name=1)

targetDataFrame = inputTable.head(10)

In [2]:
#Randomly Remove Values and create outliers

import numpy as np

numericColumns = inputTable.select_dtypes(include='number').columns.tolist()

#Randomly remove 20% of the data
for column in inputTable:
    randomCells = np.random.rand(len(inputTable)) < 0.2
    inputTable.loc[randomCells, column] = np.nan

#Randomly create outliers of 10% of the data
for column in inputTable.select_dtypes(include='number'):
    randomCells = np.random.rand(len(inputTable)) < 0.1
    inputTable.loc[randomCells, column] = inputTable.loc[randomCells, column] * 100

inputTable.head(50)

,student_id,location,age,sql_marks,excel_marks,python_marks,power_bi_marks,english_marks
0,400.0,Sydney,24.0,95.0,99.0,87.0,NaN,75.0
1,5.0,Tokyo,24.0,99.0,95.0,89.0,86.0,82.0
2,NaN,Berlin,22.0,7200.0,7000.0,9900.0,79.0,77.0
3,7.0,London,NaN,97.0,NaN,74.0,72.0,85.0
4,8.0,Tokyo,22.0,91.0,NaN,79.0,80.0,NaN
5,9.0,Toronto,20.0,93.0,88.0,75.0,93.0,72.0
6,10.0,Tokyo,18.0,77.0,87.0,100.0,98.0,93.0
7,1100.0,Toronto,21.0,78.0,9000.0,88.0,7900.0,72.0
8,12.0,Melbourne,24.0,80.0,95.0,87.0,NaN,9400.0
9,13.0,London,19.0,NaN,NaN,96.0,NaN,86.0
10,14.0,Toronto,20.0,81.0,74.0,88.0,9900.0,NaN
11,1500.0,Paris,24.0,NaN,93.0,87.0,80.0,71.0
12,16.0,Tokyo,19.0,73.0,NaN,78.0,70.0,84.0
13,NaN,NaN,NaN,NaN,75.0,77.0,NaN,85.0
14,18.0,Melbourne,19.0,89.0,76.0,96.0,NaN,71.0
15,19.0,Paris,NaN,72.0,9200.0,70.0,82.0,83.0
16,20.0,Berlin,2500.0,92.0,87.0,81.0,7900.0,NaN
17,2100.0,NaN,24.0,85.0,96.0,84.0,71.0,96.0
18,22.0,Los Angeles,22.0,83.0,NaN,100.0,75.0,85.0
19,NaN,New York,18.0,8000.0,7300.0,94.0,NaN,NaN
20,24.0,Berlin,20.0,74.0,NaN,96.0,95.0,75.0
21,25.0,NaN,20.0,9200.0,98.0,94.0,74.0,77.0
22,26.0,Sydney,18.0,90.0,91.0,NaN,NaN,93.0
23,27.0,Toronto,21.0,92.0,79.0,9300.0,82.0,99.0
24,2800.0,Los Angeles,25.0,84.0,8500.0,82.0,96.0,75.0
25,NaN,NaN,20.0,NaN,82.0,98.0,76.0,71.0
26,30.0,Tokyo,20.0,80.0,98.0,75.0,81.0,83.0
27,3100.0,NaN,23.0,78.0,80.0,71.0,NaN,92.0
28,32.0,NaN,24.0,94.0,74.0,NaN,9200.0,79.0
29,NaN,Tokyo,19.0,NaN,98.0,84.0,90.0,93.0
30,34.0,NaN,NaN,83.0,99.0,NaN,93.0,71.0
31,NaN,Paris,23.0,96.0,NaN,89.0,8600.0,92.0
32,36.0,Berlin,21.0,NaN,86.0,NaN,87.0,82.0
33,37.0,Tokyo,23.0,98.0,9400.0,77.0,NaN,NaN
34,38.0,Berlin,21.0,NaN,95.0,NaN,7300.0,77.0
35,39.0,Melbourne,20.0,88.0,99.0,99.0,92.0,89.0
36,40.0,New York,22.0,70.0,78.0,79.0,100.0,NaN
37,NaN,Berlin,24.0,86.0,74.0,NaN,NaN,76.0
38,NaN,Paris,19.0,7000.0,98.0,75.0,NaN,71.0
39,43.0,Sydney,21.0,96.0,89.0,7200.0,71.0,96.0
40,NaN,New York,22.0,91.0,78.0,NaN,72.0,NaN
41,NaN,Los Angeles,21.0,9400.0,79.0,83.0,88.0,NaN
42,46.0,NaN,2400.0,90.0,96.0,84.0,NaN,NaN
43,47.0,Berlin,2100.0,NaN,70.0,91.0,NaN,7300.0
44,NaN,Los Angeles,20.0,88.0,83.0,77.0,93.0,92.0
45,49.0,NaN,NaN,87.0,74.0,70.0,NaN,NaN
46,50.0,New York,22.0,99.0,NaN,81.0,NaN,NaN
47,51.0,London,23.0,NaN,96.0,71.0,NaN,NaN
48,52.0,Sydney,NaN,100.0,88.0,75.0,70.0,83.0
49,NaN,Paris,NaN,82.0,78.0,71.0,83.0,99.0

In [3]:
#Transformation Table

inputTable.columns = [column.lower() for column in inputTable.columns]

numericColumns = []
yesAndNoColumns = []

#Find numeric columns by checking top ten values for numeric data
for column in inputTable:
    topTenValues = inputTable[column].dropna().head(10)
    numericCount = pd.to_numeric(topTenValues, errors='coerce').notna().sum()

    if numericCount > 0:
        numericColumns.append(column)

    yesNoCount = topTenValues.isin(["yes", "no", "Yes","No"]).sum()
    if yesNoCount > 0:
        yesAndNoColumns.append(column)
        
#Get rid of exceptional values
for column in numericColumns:
    inputTable[column] = pd.to_numeric(inputTable[column], errors="coerce")

    #Find the lower quantile of the column values
    lowerQuantile = inputTable[column].quantile(0.25)
    
    #Find the upper quantile of the values in each column
    upperQuantile = inputTable[column].quantile(0.75)
    
    #Find the inter quantile range of the values in each column
    interQuantileRange = upperQuantile - lowerQuantile

    lowerBound = lowerQuantile - 1.5 * interQuantileRange
    upperBound = upperQuantile + 1.5 * interQuantileRange

    #Seperate outliers using the bounds
    outliers = (inputTable[column] < lowerBound) | (inputTable[column] > upperBound)
    
    #Divide outliers by 100
    inputTable.loc[outliers, column] =  inputTable.loc[outliers, column] / 100

for column in yesAndNoColumns:
    inputTable[column] = inputTable[column].map({"yes": 1, "no": 0,"Yes": 1, "No": 0})

inputTable.head(50)

,student_id,location,age,sql_marks,excel_marks,python_marks,power_bi_marks,english_marks
0,400.0,Sydney,24.0,95.0,99.0,87.0,NaN,75.0
1,5.0,Tokyo,24.0,99.0,95.0,89.0,86.0,82.0
2,NaN,Berlin,22.0,72.0,70.0,99.0,79.0,77.0
3,7.0,London,NaN,97.0,NaN,74.0,72.0,85.0
4,8.0,Tokyo,22.0,91.0,NaN,79.0,80.0,NaN
5,9.0,Toronto,20.0,93.0,88.0,75.0,93.0,72.0
6,10.0,Tokyo,18.0,77.0,87.0,100.0,98.0,93.0
7,11.0,Toronto,21.0,78.0,90.0,88.0,79.0,72.0
8,12.0,Melbourne,24.0,80.0,95.0,87.0,NaN,94.0
9,13.0,London,19.0,NaN,NaN,96.0,NaN,86.0
10,14.0,Toronto,20.0,81.0,74.0,88.0,99.0,NaN
11,15.0,Paris,24.0,NaN,93.0,87.0,80.0,71.0
12,16.0,Tokyo,19.0,73.0,NaN,78.0,70.0,84.0
13,NaN,NaN,NaN,NaN,75.0,77.0,NaN,85.0
14,18.0,Melbourne,19.0,89.0,76.0,96.0,NaN,71.0
15,19.0,Paris,NaN,72.0,92.0,70.0,82.0,83.0
16,20.0,Berlin,25.0,92.0,87.0,81.0,79.0,NaN
17,21.0,NaN,24.0,85.0,96.0,84.0,71.0,96.0
18,22.0,Los Angeles,22.0,83.0,NaN,100.0,75.0,85.0
19,NaN,New York,18.0,80.0,73.0,94.0,NaN,NaN
20,24.0,Berlin,20.0,74.0,NaN,96.0,95.0,75.0
21,25.0,NaN,20.0,92.0,98.0,94.0,74.0,77.0
22,26.0,Sydney,18.0,90.0,91.0,NaN,NaN,93.0
23,27.0,Toronto,21.0,92.0,79.0,93.0,82.0,99.0
24,28.0,Los Angeles,25.0,84.0,85.0,82.0,96.0,75.0
25,NaN,NaN,20.0,NaN,82.0,98.0,76.0,71.0
26,30.0,Tokyo,20.0,80.0,98.0,75.0,81.0,83.0
27,31.0,NaN,23.0,78.0,80.0,71.0,NaN,92.0
28,32.0,NaN,24.0,94.0,74.0,NaN,92.0,79.0
29,NaN,Tokyo,19.0,NaN,98.0,84.0,90.0,93.0
30,34.0,NaN,NaN,83.0,99.0,NaN,93.0,71.0
31,NaN,Paris,23.0,96.0,NaN,89.0,86.0,92.0
32,36.0,Berlin,21.0,NaN,86.0,NaN,87.0,82.0
33,37.0,Tokyo,23.0,98.0,94.0,77.0,NaN,NaN
34,38.0,Berlin,21.0,NaN,95.0,NaN,73.0,77.0
35,39.0,Melbourne,20.0,88.0,99.0,99.0,92.0,89.0
36,40.0,New York,22.0,70.0,78.0,79.0,100.0,NaN
37,NaN,Berlin,24.0,86.0,74.0,NaN,NaN,76.0
38,NaN,Paris,19.0,70.0,98.0,75.0,NaN,71.0
39,43.0,Sydney,21.0,96.0,89.0,72.0,71.0,96.0
40,NaN,New York,22.0,91.0,78.0,NaN,72.0,NaN
41,NaN,Los Angeles,21.0,94.0,79.0,83.0,88.0,NaN
42,46.0,NaN,24.0,90.0,96.0,84.0,NaN,NaN
43,47.0,Berlin,21.0,NaN,70.0,91.0,NaN,73.0
44,NaN,Los Angeles,20.0,88.0,83.0,77.0,93.0,92.0
45,49.0,NaN,NaN,87.0,74.0,70.0,NaN,NaN
46,50.0,New York,22.0,99.0,NaN,81.0,NaN,NaN
47,51.0,London,23.0,NaN,96.0,71.0,NaN,NaN
48,52.0,Sydney,NaN,100.0,88.0,75.0,70.0,83.0
49,NaN,Paris,NaN,82.0,78.0,71.0,83.0,99.0

In [4]:
#Convert numeric columns with no decimals into integers

for column in numericColumns: 
    pureData = inputTable[column].dropna()
    hasDecimals = (pureData.astype(int) != pureData).any()
    if hasDecimals == False:
        inputTable[column] = inputTable[column].astype("Int64")

inputTable.head(50)
#TODO sort out NaN and make yesNoColumns integers

,student_id,location,age,sql_marks,excel_marks,python_marks,power_bi_marks,english_marks
0,400,Sydney,24,95,99,87,<NA>,75
1,5,Tokyo,24,99,95,89,86,82
2,<NA>,Berlin,22,72,70,99,79,77
3,7,London,<NA>,97,<NA>,74,72,85
4,8,Tokyo,22,91,<NA>,79,80,<NA>
5,9,Toronto,20,93,88,75,93,72
6,10,Tokyo,18,77,87,100,98,93
7,11,Toronto,21,78,90,88,79,72
8,12,Melbourne,24,80,95,87,<NA>,94
9,13,London,19,<NA>,<NA>,96,<NA>,86
10,14,Toronto,20,81,74,88,99,<NA>
11,15,Paris,24,<NA>,93,87,80,71
12,16,Tokyo,19,73,<NA>,78,70,84
13,<NA>,NaN,<NA>,<NA>,75,77,<NA>,85
14,18,Melbourne,19,89,76,96,<NA>,71
15,19,Paris,<NA>,72,92,70,82,83
16,20,Berlin,25,92,87,81,79,<NA>
17,21,NaN,24,85,96,84,71,96
18,22,Los Angeles,22,83,<NA>,100,75,85
19,<NA>,New York,18,80,73,94,<NA>,<NA>
20,24,Berlin,20,74,<NA>,96,95,75
21,25,NaN,20,92,98,94,74,77
22,26,Sydney,18,90,91,<NA>,<NA>,93
23,27,Toronto,21,92,79,93,82,99
24,28,Los Angeles,25,84,85,82,96,75
25,<NA>,NaN,20,<NA>,82,98,76,71
26,30,Tokyo,20,80,98,75,81,83
27,31,NaN,23,78,80,71,<NA>,92
28,32,NaN,24,94,74,<NA>,92,79
29,<NA>,Tokyo,19,<NA>,98,84,90,93
30,34,NaN,<NA>,83,99,<NA>,93,71
31,<NA>,Paris,23,96,<NA>,89,86,92
32,36,Berlin,21,<NA>,86,<NA>,87,82
33,37,Tokyo,23,98,94,77,<NA>,<NA>
34,38,Berlin,21,<NA>,95,<NA>,73,77
35,39,Melbourne,20,88,99,99,92,89
36,40,New York,22,70,78,79,100,<NA>
37,<NA>,Berlin,24,86,74,<NA>,<NA>,76
38,<NA>,Paris,19,70,98,75,<NA>,71
39,43,Sydney,21,96,89,72,71,96
40,<NA>,New York,22,91,78,<NA>,72,<NA>
41,<NA>,Los Angeles,21,94,79,83,88,<NA>
42,46,NaN,24,90,96,84,<NA>,<NA>
43,47,Berlin,21,<NA>,70,91,<NA>,73
44,<NA>,Los Angeles,20,88,83,77,93,92
45,49,NaN,<NA>,87,74,70,<NA>,<NA>
46,50,New York,22,99,<NA>,81,<NA>,<NA>
47,51,London,23,<NA>,96,71,<NA>,<NA>
48,52,Sydney,<NA>,100,88,75,70,83
49,<NA>,Paris,<NA>,82,78,71,83,99

In [59]:
#Fill in empty values

#TODO: add logic to sort id columns from getting messed up

for column in inputTable:
    #For id columns, use forward and backward fill to replace NA
    if "id" in column.lower():
        inputTable[column] = inputTable[column].ffill().bfill()
    #For numeric columns, find the median and fill NA values
    elif column in numericColumns:
        median = inputTable[column].median()
        inputTable[column] = inputTable[column].fillna(median)
    #For categorical columns, find the mode value and fill NA values
    else:
        mode = inputTable[column].mode(dropna=True)
        if not mode.empty:
            inputTable[column] = inputTable[column].fillna(mode[0])

inputTable.head(50)

,student_id,location,age,sql_marks,excel_marks,python_marks,power_bi_marks,english_marks
0,4,Sydney,24,95,86,87,82,75
1,4,Tokyo,24,99,95,86,86,84
2,4,Berlin,21,72,70,99,79,77
3,7,London,21,97,90,74,72,84
4,8,Tokyo,22,85,86,86,80,75
5,9,Toronto,21,93,88,75,93,72
6,10,Tokyo,21,77,86,86,98,93
7,10,Toronto,21,85,86,88,85,84
8,10,Melbourne,24,85,86,86,85,94
9,13,London,19,97,86,96,85,86
10,13,Toronto,20,85,74,88,99,96
11,15,Paris,21,94,93,86,80,71
12,16,Tokyo,21,73,82,78,70,84
13,17,Tokyo,25,82,75,86,78,84
14,18,Tokyo,19,89,76,86,93,84
15,19,Tokyo,21,85,92,86,82,83
16,19,Berlin,25,92,86,81,85,98
17,21,Toronto,24,85,86,84,71,96
18,22,Los Angeles,22,83,73,86,75,85
19,23,Tokyo,21,80,86,94,89,100
20,24,Berlin,20,74,86,86,95,75
21,24,Paris,20,92,98,94,85,84
22,26,Sydney,21,90,91,89,94,93
23,27,Toronto,21,92,79,86,85,84
24,27,Tokyo,21,85,85,82,96,84
25,29,Berlin,20,85,82,98,76,71
26,30,Tokyo,20,80,98,75,81,84
27,31,London,21,78,80,86,82,92
28,31,Sydney,24,85,86,86,92,84
29,31,Tokyo,21,74,98,86,90,84
30,33,Tokyo,21,83,99,86,93,71
31,35,Paris,23,85,74,86,86,92
32,36,Berlin,21,85,86,86,87,84
33,36,Tokyo,23,98,94,86,83,84
34,38,Berlin,21,85,95,78,73,77
35,38,Tokyo,20,88,99,99,92,89
36,40,Tokyo,22,70,86,79,100,84
37,40,Berlin,24,86,74,92,85,84
38,40,Tokyo,19,70,86,75,83,84
39,43,Tokyo,21,96,89,72,85,96
40,44,New York,22,85,78,81,72,78
41,44,Tokyo,21,85,79,83,85,93
42,44,Los Angeles,24,90,96,86,85,84
43,47,Berlin,21,79,86,91,81,73
44,48,Los Angeles,21,88,83,86,93,92
45,49,Paris,21,87,74,86,85,84
46,49,New York,22,85,70,86,85,76
47,49,London,21,96,86,86,85,100
48,52,Tokyo,20,85,88,75,85,84
49,52,Tokyo,20,82,86,71,85,99